<section class="gh-topic side-card">
    <div class="gh-topic-header">
        <h2 class="gh-topic-name">
            <a href="{{url}}">{{name}}</a>
        </h2>
        <a class="gh-topic-link" href="{{url}}">More {{> "icons/arrow"}}</a>
    </div>

    <div class="gh-topic-content">
        {{#get "posts" include="tags,authors" filter="tag:{{slug}}" limit="5"}}
            {{#foreach posts}}
                <article class="gh-card {{post_class}}">
                    <a class="gh-card-link" href="{{url}}">
                        {{#if feature_image}}
                            <div class="image-container">
                                <figure class="gh-card-image">
                                    <img
                                        srcset="{{img_url feature_image size="s"}} 300w,
                                                {{img_url feature_image size="m"}} 720w,
                                                {{img_url feature_image size="l"}} 960w,
                                                {{img_url feature_image size="xl"}} 1200w,
                                                {{img_url feature_image size="xxl"}} 2000w"
                                        sizes="(max-width: 1200px) 100vw, 1200px"
                                        src="{{img_url feature_image size="m"}}"
                                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                                    >
                                </figure>
                            </div>
                        {{/if}}
                        <div class="gh-card-info">
                            <h6 class="gh-card-title">{{title}}</h6>
                            <time class="gh-article-date" datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
                        </div>
                    </a>
                </article>
            {{/foreach}}
        {{/get}}
    </div>
</section>